html {
  font-size: min(max(14px, 5vw), 20px);
  height: 100%;
}

html * {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient( var(--color-white, whitesmoke) 60%, var(--color-grey, grey) 170%);
  color: var(--color-black, black);
  font-family: "Love Ya Like A Sister", sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  padding-bottom: 2rem;
  width: 100%;
}

.center {
  text-align: center;
}

.row {
  display: flex;
}

.row.center {
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.backdrop {
  align-items: center;
  background-color: var(--color-shade, rgba(0, 0, 0, .4));
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hide {
  opacity: 0;
  transition: opacity .3s;
}

.hidden {
  display: none !important;
}

h1, h2 {
  background-color: var(--color-white, whitesmoke);
  font-size: 2.2rem;
  font-weight: normal;
  padding: 1vw 2vw;
}

h1, h2, a, p, em, .ellipsis {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  border-radius: var(--border-radius, .3rem);
  font-family: sans-serif;
  font-size: 1rem;
}

button, input {
  -webkit-appearance: none;
  border: .1rem solid var(--color-grey, grey);
  margin: 0;
  max-width: 100%;
  padding: .4rem;
  transition: background-color .3s;
}

button + button {
  margin-left: .4rem;
}

button {
  background-color: var(--color-grey-light, #e8e8e8);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  height: 2.4rem;
  line-height: 1.6rem;
  margin-bottom: .5rem;
  padding: .4rem .8rem;
}

:focus {
  border-color: transparent;
  border-radius: 0;
  box-shadow: 0 0 .7rem var(--color-primary, steelblue);
  outline: .1rem solid var(--color-primary, steelblue);
}

button:hover {
  background-color: var(--color-white, whitesmoke);
}

button.text {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

button.text:hover {
  color: var(--color-primary, steelblue);
}

input:invalid, .red {
  background-color: var(--color-error-light, #ff000014);
  border: .1rem solid var(--color-error, red);
}

input:focus:invalid {
  box-shadow: none;
}

a {
  color: var(--color-accent, green);
}
