.what-now {
  --color-black: #333333;
  --color-error: red;
  --color-error-light: rgba(250, 0, 0, .1);
  --color-grey: #666666;
  --color-grey-light: #ebebeb;
  --color-primary: #0c7ade;
  --color-shade: rgba(0, 0, 0, .4);
  --color-success: green;
  --color-white: whitesmoke;
  --color-white-shade: rgba(255, 255, 255, .7);
  --elevation-ant: 10;
  --elevation-bear: 50;
  --elevation-child: 30;
  --elevation-giraffe: 100;
  --elevation-t-rex: 200;
}
