<div class="badges row"></div>

<script>
  class Badges {
    constructor () {
      this.el = document.querySelector('.badges')
      this.setupListeners()
    }

    async emit (eventName, eventData) {
      console.log(eventName, eventData)
      window.dispatchEvent(new CustomEvent(eventName, { detail: eventData }))
    }

    setupListeners () {
      window.addEventListener('add-badge', (event) => this.addBadge(event.detail))
      window.addEventListener('remove-badge', (event) => this.removeBadge(event.detail))
    }

    addBadge (data = { type: 'default', content: '🤔' }) {
      const badgeEl = document.createElement('span')
      badgeEl.classList.add('badge', 'hide', data.type)
      badgeEl.innerHTML = data.content
      badgeEl.onclick = () => this.emit('skip-task')
      this.el.appendChild(badgeEl)
      this.fadeIn(badgeEl)
    }

    removeBadge (data = { type: 'default' }) {
      const badgeEl = this.el.querySelector('.badge.' + data.type)
      if (!badgeEl) {
        return console.log('cannot remove badge, no element found')
      }
      badgeEl.remove()
    }

    fadeIn (el) {
      window.dispatchEvent(new CustomEvent('fade-in', { detail: el }))
    }
  }
  // eslint-disable-next-line no-new
  new Badges()
</script>

<style>
  .badges {
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: var(--elevation-ant, 10);
  }

  .badge {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 0.4rem;
    font-size: 2rem;
    line-height: 1.1;
  }

  .badge.task-done,
  .badge.tasks-done {
    font-size: 0;
    margin-left: 0.4rem;
    background-size: contain;
  }

  .badge.task-done {
    background-image: url("/assets/emojis/star.png");
  }

  .badge.tasks-done {
    background-image: url("/assets/emojis/medal.png");
  }
</style>
