<div class="badges row center">
  <div class="container row center"></div>
</div>

<script>
  class Badges {
    constructor () {
      this.el = document.querySelector('.badges .container')
      this.setupListeners()
    }

    async emit (eventName, eventData) {
      console.log(eventName, eventData)
      window.dispatchEvent(new CustomEvent(eventName, { detail: eventData }))
    }

    setupListeners () {
      window.addEventListener('add-badge', (event) => this.addBadge(event.detail))
      window.addEventListener('remove-badge', (event) => this.removeBadge(event.detail))
    }

    addBadge (data = { type: 'default', content: '🤔' }) {
      const badgeEl = document.createElement('span')
      badgeEl.classList.add('badge', 'hide', data.type)
      badgeEl.innerHTML = data.content
      badgeEl.onclick = () => this.emit('skip-task')
      this.el.appendChild(badgeEl)
      this.fadeIn(badgeEl)
    }

    removeBadge (data = { type: 'default' }) {
      const badgeEl = this.el.querySelector('.badge.' + data.type)
      if (!badgeEl) {
        return console.log('cannot remove badge, no element found')
      }
      badgeEl.remove()
    }

    fadeIn (el) {
      window.dispatchEvent(new CustomEvent('fade-in', { detail: el }))
    }
  }
  // eslint-disable-next-line no-new
  new Badges()
</script>

<style>
  .badges {
    font-size: 4rem;
    letter-spacing: .4rem;
    line-height: .7;
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: var(--elevation-ant, 10);
  }

  .badges .container {
    flex-wrap: wrap;
    max-width: 50rem;
  }

  .badge:nth-child(odd) {
    filter: invert(.4);
    transform: rotate(5deg);
  }
</style>
