<div class="settings--trigger" onclick="toggleSettings()">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="feather feather-settings">
    <circle cx="12" cy="12" r="3"></circle>
    <path
      d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
    </path>
  </svg>
</div>

<div class="settings hidden">
  <div class="settings--modal center">
    <h2>Settings</h2>
    <form class="col" onsubmit="return validateSettings(this);">
      <label class="setting">
        <a href="https://sheety.co" target="_blank">Sheety</a>&nbsp;api :
        <input type="url" name="api" required minlength="4">
      </label>
      <div class="settings--footer">
        <input class="success" type="submit" value="Save">
        <input type="button" value="Close" onclick="toggleSettings()">
      </div>
    </form>
  </div>
</div>

<script>
  this.toggleSettings = () => {
    document.querySelector('.settings').classList.toggle('hidden')
  }
  this.validateSettings = (formEl) => {
    const formData = {}
    formEl.querySelectorAll('[name]').forEach(el => (formData[el.name] = el.value))
    const event = new CustomEvent('settings-submitted', { detail: formData })
    this.dispatchEvent(event)
    // close modal, we can't get here if form is invalid
    this.toggleSettings()
    // prevent native form submit
    return false
  }
</script>

<style>
  .settings--trigger {
    color: var(--color-grey, grey);
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }

  .settings--trigger.action-required {
    color: var(--color-primary, steelblue);
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce;
    transform-origin: center bottom;
  }

  .settings {
    --width: var(--settings-width, 80vw);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-shade, rgba(0, 0, 0, 0.4));
  }

  .settings.hidden {
    display: none;
  }

  .settings--modal {
    padding: 2rem;
    position: absolute;
    top: 25%;
    width: var(--width);
    left: calc(50% - var(--width) / 2);
    border: .4rem solid var(--color-primary, steelblue);
    background-color: var(--color-white, whitesmoke);
    border-radius: var(--border-radius, 0.3rem);
  }

  .settings--footer {
    margin-top: 3rem;
  }

  .setting {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  @keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
    }

    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
    }

    90% {
      transform: translate3d(0, -4px, 0);
    }
  }
</style>
