<div class="settings backdrop hidden">

  <div class="settings--trigger hidden" onclick="settings.toggleSettings()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
      <circle cx="12" cy="12" r="3" />
      <path
        d="M19 15a2 2 0 001 2h0a2 2 0 010 3 2 2 0 01-3 0h0a2 2 0 00-2-1 2 2 0 00-1 2v0a2 2 0 01-2 2 2 2 0 01-2-2v0a2 2 0 00-1-2 2 2 0 00-2 1h0a2 2 0 01-3 0 2 2 0 010-3h0a2 2 0 001-2 2 2 0 00-2-1h0a2 2 0 01-2-2 2 2 0 012-2h0a2 2 0 002-1 2 2 0 00-1-2h0a2 2 0 010-3 2 2 0 013 0h0a2 2 0 002 1h0a2 2 0 001-2v0a2 2 0 012-2 2 2 0 012 2v0a2 2 0 001 2 2 2 0 002-1h0a2 2 0 013 0 2 2 0 010 3h0a2 2 0 00-1 2v0a2 2 0 002 1h0a2 2 0 012 2 2 2 0 01-2 2h0a2 2 0 00-2 1z" />
    </svg>
  </div>

  <div class="settings--modal hidden col center">
    <h2>Settings</h2>
    <label class="setting">
      <a href="//airtable.com/api" target="_blank">Airtable api base</a> :&nbsp;
      <input name="airtable-api-base" pattern="^app\w{14}$" required autofocus>
    </label>
    <label class="setting">
      <a href="//airtable.com/account" target="_blank">Airtable api key</a> :&nbsp;
      <input name="airtable-api-key" pattern="^key\w{14}$" required>
    </label>
    <div class="settings--footer col">
      <div>
        <button class="settings--save" onclick="settings.validateSettings()">Save</button>
      </div>
      <div>
        <button class="settings--close text" onclick="settings.toggleSettings()">Close</button>
      </div>
    </div>
  </div>

</div>

<script>
  class Settings {
    constructor () {
      this.setupElements()
      this.setupListeners()
    }

    setupElements () {
      this.backdropEl = document.querySelector('.settings')
      this.triggerEl = document.querySelector('.settings--trigger')
      this.modalEl = document.querySelector('.settings--modal')
      this.settingApiBase = document.querySelector('.settings--modal input[name="airtable-api-base"]')
      this.settingApiKey = document.querySelector('.settings--modal input[name="airtable-api-key"]')
    }

    setupListeners () {
      window.addEventListener('api-set', event => this.preFillApi(event.detail.base, event.detail.key))
      window.addEventListener('action-required', event => this.onActionRequired(event.detail))
    }

    async emit (eventName, eventData) {
      console.log(eventName, eventData)
      window.dispatchEvent(new CustomEvent(eventName, { detail: eventData }))
    }

    onActionRequired (isRequired = false) {
      this.triggerEl.classList.toggle('action-required', isRequired)
      this.triggerEl.classList.toggle('hidden', !isRequired)
      this.emit('fade-' + (isRequired ? 'in' : 'out'), this.backdropEl)
    }

    toggleSettings () {
      this.modalEl.classList.toggle('hidden')
    }

    preFillApi (base, key) {
      this.settingApiBase.value = base
      this.settingApiKey.value = key
    }

    validateSettings () {
      if (!this.settingApiBase.checkValidity() || !this.settingApiKey.checkValidity()) return console.error('settings invalid')
      this.emit('api-set', { base: this.settingApiBase.value, key: this.settingApiKey.value })
      this.toggleSettings()
      this.emit('fade-out', this.backdropEl)
    }
  }
  window.settings = new Settings()
</script>

<style>
  .settings {
    z-index: var(--elevation-bear, 50);
  }

  .settings--trigger {
    color: var(--color-grey, grey);
    cursor: pointer;
    height: 2.5rem;
    overflow: hidden;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2.5rem;
    background-color: var(--color-white, whitesmoke);
    padding: .3rem;
    border-radius: 50%;
    z-index: var(--elevation-child, 30);
  }

  .settings--trigger.action-required {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce;
    color: var(--color-primary, steelblue);
    transform-origin: center bottom;
  }

  .settings--modal {
    background-color: var(--color-white, whitesmoke);
    border: .3rem solid var(--color-primary, steelblue);
    border-radius: var(--border-radius, .3rem);
    max-width: 40rem;
    padding: .7rem 2rem 0;
    width: var(--settings-width, 80vw);
    z-index: var(--elevation-giraffe, 100);
  }

  .settings--footer {
    margin-top: 2rem;
  }

  .setting {
    line-height: 3rem;
    margin-top: .5rem;
  }

  @keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
      animation-timing-function: cubic-bezier(.215, .61, .355, 1);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      animation-timing-function: cubic-bezier(.755, .05, .855, .06);
      transform: translate3d(0, -30px, 0);
    }

    70% {
      animation-timing-function: cubic-bezier(.755, .05, .855, .06);
      transform: translate3d(0, -15px, 0);
    }

    90% {
      transform: translate3d(0, -4px, 0);
    }
  }
</style>
