<main class="tasks col center">
  <h1 class="tasks--title task--get" onclick="tasks.showTask()">What <em>now</em> ?</h1>
  <div class="task col hidden">
    <h2 class="task--title"></h2>
    <div>
      <button class="task--mark-as-done" onclick="tasks.doneTask()">Done</button>
    </div>
  </div>
</main>

<script>
  // give the same format as 'completed-on' like "2019-07-14"
  const today = () => new Date().toISOString().split('T')[0]

  const emit = async (eventName, eventData) => {
    console.log(`%c${eventName}`, 'color: blue', eventData)
    window.dispatchEvent(new CustomEvent(eventName, { detail: eventData }))
  }

  class Task {
    constructor (data) {
      Object.assign(this, data)
      if (!this.active) {
        emit('task-done', { already: true })
      }
    }
    get completedOn () {
      return this['completed-on']
    }
    get active () {
      if (this.done) {
        return false
      }
      if (!this.completedOn) {
        return true
      }
      switch (this.once) {
        case 'yes':
          return true
        case 'day':
          return this.daysSinceCompletion >= 1
        case 'week':
          return this.daysSinceCompletion >= 7
        case 'month':
          return this.daysSinceCompletion >= 30
        default:
          console.error('unhandled case')
      }
      return false
    }
    get daysSinceCompletion () {
      return ((new Date(today()) - new Date(this.completedOn)) / 1000 / (3600 * 24))
    }
  }

  class Tasks {
    constructor () {
      this.tasksTitle = document.querySelector('.tasks--title')
      this.taskEl = document.querySelector('.tasks .task')
      this.taskTitle = this.taskEl.querySelector('.task--title')
      this.tasks = []
      this.activeTask = null
      this.setupListeners()
    }
    setupListeners () {
      window.addEventListener('tasks-loaded', (event) => {
        this.tasks = event.detail.sort(this.byImportant).map(data => new Task(data))
        this.showToast(this.tasks.length ? 'info' : 'error', (this.tasks.length || 'no') + ' tasks found')
        this.showMainView()
        this.checkTasks()
        emit('action-required', false)
      })
    }
    byImportant (a, b) {
      if (a.important && b.important) {
        return 0
      }
      if (a.important && !b.important) {
        return -1
      }
      if (!a.important && b.important) {
        return 1
      }
    }
    checkTasks () {
      const hadActiveTasks = this.tasks.length > 0
      this.tasks = this.tasks.filter(task => task.active)
      this.activeTask = this.tasks[0]
      const hasActiveTasks = this.tasks.length > 0
      if (hadActiveTasks && !hasActiveTasks) {
        this.showSuccessView()
      }
    }
    showToast (type, message) {
      return emit('show-toast', { type, message })
    }
    showTask () {
      this.switchView()
    }
    switchView (el) {
      this.taskTitle.textContent = this.activeTask.name
      this.taskEl.classList.toggle('hidden')
      this.tasksTitle.classList.toggle('hidden')
    }
    doneTask () {
      this.showToast('success', 'well done')
      this.activeTask['completed-on'] = today()
      this.activeTask.done = (this.activeTask.once === 'yes')
      emit('task-update', Object.assign({}, this.activeTask))
      emit('task-done', { already: false })
      this.switchView()
      this.checkTasks()
    }
    showMainView () {
      this.tasksTitle.innerHTML = 'What <em>now</em> ?'
      this.tasksTitle.classList.remove('success')
      if (this.tasksTitle.classList.contains('hidden')) {
        this.switchView()
      }
    }
    showSuccessView () {
      this.tasksTitle.innerHTML = 'You did everything for today.<br><em>GG</em> 🎖️'
      this.tasksTitle.classList.add('success')
      this.showToast('info', '🎉🍾🥂🎉')
      emit('tasks-done', { })
    }
  }
  // eslint-disable-next-line no-new
  window.tasks = new Tasks()
</script>

<style>
  .tasks {
    background-image: linear-gradient(var(--color-white, whitesmoke) 60%, var(--color-grey, grey) 170%);
    color: var(--color-primary, steelblue);
    height: 100%;
    justify-content: center;
    padding-bottom: 2rem;
    width: 100%;
  }

  .tasks--title {
    background-image: radial-gradient(white 20%, var(--color-white, whitesmoke) 70%);
    border-bottom: .2rem dashed;
    padding: 1rem;
    z-index: var(--elevation-child, 30);
  }

  .tasks--title.success {
    border-style: dashed;
    border-width: .4rem 0;
    color: var(--color-success, green);
  }

  .tasks--title em {
    color: var(--color-black, #333333);
    font-style: normal;
  }
</style>
