<main class="tasks col center">
  <h1 class="tasks--title" onclick="getTask()">What <em>now</em> ?</h1>
  <div class="task col hidden">
    <h2 class="task--title"></h2>
    <div>
      <button class="task--done" onclick="doneTask()">Done</button>
    </div>
  </div>
</main>

<script>
  const tasksTitle = document.querySelector('.tasks--title')
  const taskEl = document.querySelector('.tasks .task')
  const taskTitle = taskEl.querySelector('.task--title')
  let tasks = []
  let activeTask = null
  window.addEventListener('tasks-loaded', (event) => {
    event.detail.forEach(t => (t.done = false))
    tasks = event.detail
    console.log('tasks loaded :', tasks)
  })
  this.getTask = () => {
    activeTask = tasks.find(t => !t.done)
    this.switchView()
  }
  this.switchView = (el) => {
    taskTitle.textContent = activeTask.name
    taskEl.classList.toggle('hidden')
    tasksTitle.classList.toggle('hidden')
  }
  this.doneTask = () => {
    activeTask.done = true
    this.switchView()
    if (!tasks.some(t => !t.done)) {
      this.showSuccessView()
    }
  }
  this.showSuccessView = () => {
    tasksTitle.innerHTML = 'You did everything.<br><em>GG</em> 🎖️'
    tasksTitle.classList.add('success')
  }
</script>

<style>
  .tasks {
    background-image: linear-gradient(var(--color-white, whitesmoke) 60%, var(--color-grey, grey) 170%);
    color: var(--color-primary, steelblue);
    height: 100%;
    justify-content: center;
    padding-bottom: 2rem;
    width: 100%;
  }

  .tasks--title {
    border-bottom: .2rem dashed;
    padding: 1rem;
  }

  .tasks--title.success {
    border-style: dashed;
    border-width: .4rem 0;
    color: var(--color-success, green);
  }

  .tasks--title em {
    color: var(--color-black, #333333);
    font-style: normal;
  }
</style>
