<main class="tasks col center">
  <button class="activate-notifications hidden" onclick="tasks.activateNotifications()">🛎️</button>
  <h1 class="task--title">What <em>now</em> ?</h1>
  <div class="row center task--buttons">
    <button class="task--prev hidden" onclick="tasks.prev()">&lt;</button>
    <button class="task--done hidden" onclick="tasks.done()">get a task</button>
    <button class="task--next hidden" onclick="tasks.next()">&gt;</button>
  </div>
</main>

<script>
  const emit = async (eventName, eventData) => { console.log(eventName, eventData); window.dispatchEvent(new CustomEvent(eventName, { detail: eventData })) }
  const showToast = (type, message) => emit('show-toast', { type, message })
  const today = () => new Date().toISOString().split('T')[0] // "2019-07-14"

  class Task {
    get completedOn () { return this['completed-on'] }

    get isBonus () { return this.once === 'bonus' }

    get isOneTime () { return this.once === 'yes' }

    get isActive () {
      if (this.done || (this.isBonus && !this.activated)) return false
      if (!this.completedOn || this.isOneTime || this.activated) return true
      const [, number = 1, unit = ''] = this.once.match(/(\d)?-?(day|week|month)/)
      if (unit === 'day') return this.daysSinceCompletion >= number
      if (unit === 'week') return this.daysSinceCompletion >= number * 7
      if (unit === 'month') return this.daysSinceCompletion >= number * 30
      console.error('tasks : unhandled "once" value')
      return false
    }

    get daysSinceCompletion () { return ((new Date(today()) - new Date(this.completedOn)) / 1000 / (3600 * 24)) }

    constructor (data) {
      Object.assign(this, data || { isDefault: true })
    }

    complete () {
      this['completed-on'] = today() // task is complete for today
      this.done = this.isOneTime // but it also can be done totally if it was a one time job
      this.activated = false
      emit('task-update', this)
    }
  }

  class Tasks {
    get activeTask () { return this.tasks[this.index] }

    constructor () {
      this.setupElements()
      this.setupListeners()
      setTimeout(() => this.titleIntro(), 1000)
    }

    on (eventName, callback) { window.addEventListener(eventName, event => callback.bind(this)(event.detail)) }

    setupElements () {
      this.titleEl = document.querySelector('.task--title')
      this.btnEl = document.querySelector('.task--buttons')
      this.doneEl = document.querySelector('.task--done')
      this.activateNotificationsEl = document.querySelector('.activate-notifications')
    }

    setupListeners () {
      this.on('tasks-loaded', this.onTasksLoaded)
      this.on('task-next', this.next)
      this.on('suggest-notification', this.toggleNotificationBtn)
      window.addEventListener('keyup', event => this.onKeyUp(event.code))
    }

    titleIntro () {
      this.titleEl.innerHTML = '' // What <em>now</em> ?
      emit('type-effect', { el: this.titleEl, text: 'What now ?' })
    }

    onKeyUp (code) {
      if (code === 'End') return this.done()
      if (code === 'ArrowLeft' || code === 'ArrowUp') return this.next(true)
      if (code === 'ArrowRight' || code === 'ArrowDown') return this.next()
    }

    onTasksLoaded (tasks) {
      this.index = 0
      this.tasks = tasks.map(data => new Task(data))
      showToast(this.tasks.length > 0 ? 'info' : 'error', (this.tasks.length || 'no') + ' tasks found')
      this.showControls()
      this.handleBonusTask()
      this.check()
    }

    showControls () {
      if (this.tasks.length === 0) return
      this.tasks.unshift(new Task())
      this.doneEl.classList.add('animate')
      this.doneEl.classList.remove('hidden')
    }

    handleBonusTask () {
      const bonusTasks = this.tasks.filter(t => t.isBonus) || []
      if (bonusTasks.length === 0) return console.log('no bonus tasks found')
      if (bonusTasks.find(t => t.completedOn === today())) return console.log('bonus task already done today')
      const bonusTask = bonusTasks[0]
      console.log('bonus task for today is :', bonusTask)
      bonusTask.activated = true
    }

    handleDefaultTask () {
      this.activeTask.done = true
      this.doneEl.textContent = 'done !'
      this.doneEl.classList.remove('animate')
      document.querySelectorAll('.task--prev, .task--next').forEach(element => emit('fade-in', element))
      this.check()
      this.show()
    }

    done () {
      if (this.activeTask.isDefault) return this.handleDefaultTask()
      console.log('marking as done :', this.activeTask)
      showToast('success', 'well done')
      this.activeTask.complete()
      this.check()
      this.show()
    }

    check () {
      this.tasks = this.tasks.filter(task => task.isActive)
      const hasActiveTasks = this.tasks.length > 0
      console.log('active tasks remaining', this.tasks)
      if (hasActiveTasks && !this.activeTask) this.index = 0
      const remaining = this.activeTask && this.activeTask.isDefault ? (this.tasks.length - 1) : this.tasks.length
      if (remaining === 1) showToast('info', 'only one task left for today !')
      else showToast('info', `${remaining} tasks remaining`)
      emit('tasks-remaining', remaining)
    }

    prev () { this.next(true) }

    next (reverse) {
      if (!this.activeTask) this.index = 0
      if (!this.activeTask) return console.log('no tasks left')
      this.index += reverse ? -1 : 1
      this.index = this.activeTask ? this.index : (reverse ? this.tasks.length - 1 : 0)
      this.show()
    }

    show () {
      if (!this.activeTask) return console.log('no more task to show')
      emit('type-effect', { el: this.titleEl, text: this.activeTask.name })
    }

    toggleNotificationBtn () { this.activateNotificationsEl.classList.toggle('hidden') }
    activateNotifications () {
      emit('ask-notification-perm')
      // whatever user choose, button shall be hidden now
      this.toggleNotificationBtn()
    }
  }
  // eslint-disable-next-line no-new
  window.tasks = new Tasks()
</script>

<style>
  .tasks {
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    position: absolute;
    top: calc(50% - 5rem);
    width: 100%;
    z-index: var(--elevation-child, 30);
  }

  .task--title {
    box-shadow: 0 0 2rem -.8rem var(--color-black, #333333);
    color: var(--color-primary, steelblue);
    margin-bottom: 1rem;
  }

  .task--prev,
              .task--next {
    font-size: 3rem;
    line-height: 0;
  }

  .task--title em {
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: bounce;
    color: var(--color-black, #333333);
    display: inline-flex;
    font-style: normal;
    transform-origin: center bottom;
  }

  .task--done.animate {
    animation-delay: 1s;
    animation-duration: 1.3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: heartBeat;
    animation-timing-function: ease-in-out;
  }

  .activate-notifications {
    background: none;
    border: 0;
    bottom: 8rem;
    height: 3rem;
    padding: 0;
    position: absolute;
    text-shadow: 0 0 1rem white;
    width: 3rem;
  }

  @keyframes heartBeat {
    0%,
    28%,
    70% {
      transform: scale(1);
    }

    14%,
    42% {
      transform: scale(1.3);
    }
  }

  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      animation-timing-function: cubic-bezier(.215, .61, .355, 1);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      animation-timing-function: cubic-bezier(.755, .05, .855, .06);
      transform: translate3d(0, -30px, 0);
    }

    70% {
      animation-timing-function: cubic-bezier(.755, .05, .855, .06);
      transform: translate3d(0, -15px, 0);
    }

    90% {
      transform: translate3d(0, -4px, 0);
    }
  }
</style>
