<div class="toaster col center"></div>

<script>
  class Toaster {
    constructor () {
      this.toasterEl = document.querySelector('.toaster')
      this.setupListeners()
    }

    setupListeners () {
      window.addEventListener('show-toast', (event) => {
        const { type, message, delay } = Object.assign({ type: 'error', message: 'no message provided', delay: 4000 }, event.detail)
        this.showToast(type, message, delay)
      })
    }

    showToast (type, message, delay) {
      const toastElement = document.createElement('p')
      toastElement.classList.add('toast', type)
      toastElement.innerHTML = message
      if (type === 'success') {
        toastElement.innerHTML += ' ✔️'
      }
      this.toasterEl.append(toastElement)
      toastElement.addEventListener('click', () => {
        this.fadeOut(toastElement)
        setTimeout(() => toastElement.remove(), 400)
      })
      if (type === 'error') {
        return
      }
      setTimeout(() => this.fadeOut(toastElement), delay)
    }

    fadeOut (element) {
      window.dispatchEvent(new CustomEvent('fade-out', { detail: element }))
    }
  }
  // eslint-disable-next-line no-new
  new Toaster()
</script>

<style>
  .toaster {
    bottom: 1rem;
    position: absolute;
    width: 100%;
    z-index: var(--elevation-child, 30);
  }

  .toast {
    margin: 0.1rem auto;
    background-color: var(--color-white-shade, rgba(255, 255, 255, 0.7));
    padding: 0.1rem 0.5rem;
  }

  .toast.error {
    background-color: var(--color-error-light, #ff000014);
  }
</style>
