.task[data-active="true"]::first-letter {
  opacity: 0.5;
}

body::-webkit-scrollbar {
  width: .6rem;
}

body::-webkit-scrollbar-track {
  background: #444;
}

body::-webkit-scrollbar-thumb {
  background-color: #222;
}
