@import 'tailwindcss';
@import './animations.css';

/* Colors */
@theme inline {
  --color-primary: DodgerBlue;
  --color-success: oklch(72% 0.18 150);
  --color-ok: oklch(72% 0.18 118);
  --color-warning: oklch(72% 0.18 86);
  --color-bad: oklch(72% 0.18 54);
  --color-error: oklch(72% 0.18 22);
  --color-white: FloralWhite;
}

/* Scrolling */
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  @apply h-2 w-2;
}
::-webkit-scrollbar-track {
  @apply bg-stone-900;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary/50;
}

/* Typography */
h1 {
  @apply text-6xl leading-16 font-extrabold tracking-tight;
}
h2 {
  @apply text-2xl leading-12 font-bold tracking-tight;
}
a {
  @apply text-primary underline underline-offset-2 hover:text-primary/80;
}
